h3{
    color: rgb(3, 3, 116);
}
body {
    background-color: rgb(143, 150, 197);
    }
  body 
    {width: 800px;
    margin:auto;}
    h1 {
        text-align: center;
    }
    nav {
        list-style:none;
        margin:0;
        padding:0;
        display:block;


    }